@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль был изменен и аккаунт зарегистрирован. Пожалуйста <a asp-page="./Login">нажмите здесь чтобы войти</a>.
</p>
